@use 'variables';


.footer{
    background-color: variables.$very_dark_grey; 
    margin-block-start:3.75rem;
}

.footer-container{
    padding-block-start:3.25rem;
    padding-block-end:2.37rem;
    color: variables.$white;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:3rem;
    position: relative;
    text-align:center;

    &::before{
        content:'';
        width: 101px;
        height: 4px;
        background-color: variables.$orange;
        position: absolute;
        inset:0;
        margin-inline:auto;
    }

    .footer-subgroup-one{
        grid-column: span 2;
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap:3rem;
    }

    .footer-subgroup-two{
        grid-column: span 2;
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:3rem;

        .footer-text{
            grid-column: span 2;
            opacity:50%;
        }

        .footer-copyright{
            grid-column: span 2;
            font-size: 0.93rem;
            line-height:25px;
            font-weight: variables.$bold;
            opacity:50%;
        }

        .footer-nested-subgroup{
            grid-column: span 2;
            display:flex;
            justify-content: center;
            align-items: center;
            gap:1rem;

            .social-icon:hover path{
                fill: variables.$orange;
            }
        }
    }
}

@media screen and (min-width:768px) {
    .footer{
        margin-block-start:3rem;
    }
    .footer-container{
        padding-block-start:3.75rem;
        padding-block-end:2.87rem;
        gap:2rem;
        text-align:left;
    
        &::before{
            inset-inline-start:0;
            margin-inline:unset;
        }
    
        .footer-subgroup-one{
            gap:2rem;
        }
    
        .footer-subgroup-two{
            gap:5rem;
    
            .footer-copyright{
                grid-column: unset;
            }
    
            .footer-nested-subgroup{
                justify-self: end;
                grid-column: unset;
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .footer{
        margin-block-start:5.25rem;
    }
    .footer-container{
        padding-block-start:3.75rem;
        padding-block-end:2.87rem;
        gap:2.25rem;

        .footer-subgroup-one{
            flex-direction: row;
            justify-content: space-between;
            gap:unset;
        }
    
        .footer-subgroup-two{
            gap:3.5rem 1rem;
    
            .footer-text{
                grid-column: unset;
                grid-row: 1;
            }
    
            .footer-copyright{
                grid-column: unset;
                grid-row: 2;
            }
    
            .footer-nested-subgroup{
                justify-self: end;
                grid-column: unset;
                grid-row: span 2;
            }
        }
    }
}