@use 'variables';

.hero-section{
    background-color: variables.$black;
    overflow: hidden;
    display:grid;
    align-items: flex-end;
    position: relative;
    isolation: isolate;

    &>*{
        grid-area: 1 / 1;
    }

    .header-content{
        text-align: center;
        padding-inline: 1.5rem;
        padding-block-start: 6.75rem;
        padding-block-end: 7rem;
        position: relative;

        .header-subtitle{
            font-size: 0.87rem;
            letter-spacing: 10px;
            color: variables.$white;
            opacity:49.64%;
            font-weight: variables.$regular;
        }

        .header-title{
            margin-block-start: 1rem;
        }

        .header-text{
            color: variables.$white;
            margin-block-start: 1.5rem;
            opacity: 75%;
        }

        .header-button{
            margin-block-start: 1.75rem;
        }
    }

    .header-picture{
        width:100%;
        height: auto;
        object-fit: cover;
        opacity: 50.21%;
        z-index: -1;
        position: absolute;
        inset-block-end: 0;
    }

}

.categories-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:4.25rem;
    padding-block-start:5.75rem;
    padding-block-end:3.75rem;
}

.products-section{
    padding-block:3.75rem;
    display:grid;
    gap:1.5rem;
    
    .product-type-one{
        background-color: variables.$orange;
        border-radius:8px;
        padding-block: 3.43rem;
        padding-inline:7.8%;
        display:grid;
        gap: 2rem;
        position: relative;
        overflow: hidden;
        isolation: isolate;

        .product-type-one-pattern{
            position: absolute;
            width: 170%;
            height: auto;
            inset-inline-start: 50%;
            inset-block-start: 50%;
            translate: -50% -75%;
            z-index: -1;
        }

        .product-type-one-picture{
            display:block;
            margin-inline:auto;
        }

        .product-type-one-subgroup{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            text-align:center;
            align-items: center;

            .product-type-one-description{
                color: variables.$white;
                opacity: 75%;
            }

            .product-type-one-button{
                color: variables.$white;
                background-color: variables.$black;
            }
        }
    }

    .product-type-two{
        display: grid;
        align-items: center;

        & > *{
            grid-column: 1 / -1;
            grid-row: 1;
        }

        .product-type-two-picture{
            border-radius: 8px;
            width:100%;
            height:100%;
            object-fit: cover;
        }

        .product-type-two-content{
            padding-inline-start: 1.5rem;
        }
    }

    .product-type-three{
        display: grid;
        grid-auto-rows: minmax(0, 1fr);
        gap:1.5rem;

        .product-type-three-picture{
            border-radius: 8px;
            width:100%;
            height:100%;
            object-fit: cover;
        }

        .product-type-three-subgroup{
            background-color: variables.$dark_grey;
            border-radius:8px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            padding-inline-start:1.5rem;
        }
    }
}

.about-section{
    padding-block:3.75rem;
    display:grid;
    gap:2.5rem;

    .about-subgroup{
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:2rem;
        text-align: center;

        .about-title{
            span{
                color: variables.$orange;
            }
        }

        .about-text{
            color: variables.$black;
            opacity: 50%;

        }
    }
    
    .about-picture{
        grid-row: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
}

@media screen and (min-width:768px) {
    .hero-section{
        // background-color: variables.$black;
        // display:grid;
        // align-items: flex-end;
        // position: relative;
        // isolation: isolate;
    
        // &>*{
        //     grid-area: 1 / 1;
        // }
    
        .header-content{
            // text-align: center;
            padding-inline: 12.18rem;
            padding-block-start: 7.87rem;
            padding-block-end: 10.43rem;
            // position: relative;
            // border:1px solid red;
    
            // .header-subtitle{
            //     font-size: 0.87rem;
            //     letter-spacing: 10px;
            //     color: variables.$white;
            //     opacity:49.64%;
            //     font-weight: variables.$regular;
            // }
    
            .header-title{
                margin-block-start: 1.5rem;
            }
    
            // .header-text{
            //     color: variables.$white;
            //     margin-block-start: 1.5rem;
            //     opacity: 75%;
            //     border:1px solid red;
            // }
    
            .header-button{
                margin-block-start:2.5rem;
            }
        }
    
        // .header-picture{
        //     width:100%;
        //     height: auto;
        //     object-fit: cover;
        //     opacity: 50.21%;
        //     z-index: -1;
        //     position: absolute;
        //     inset-block: 0;
        //     margin-block:auto;
        // }
    
    }
    
    .categories-section{
        flex-direction: row;
        gap:0.625rem;
        padding-block-start:9.25rem;
        padding-block-end:3rem;
    }
    
    .products-section{
        padding-block:3rem;
        gap:2rem;
        
        .product-type-one{
            padding-block-start: 3.25rem;
            padding-block-end: 4rem;
            padding-inline:11.5rem;
            gap: 4rem;
            .product-type-one-pattern{
                width: 140%;
                translate: -50% -69%;
            }
            .product-type-one-picture{
                width:188px;
                height:auto;
            }
    
            .product-type-one-subgroup{
                .product-type-one-button{
                    margin-block-start:1rem;
                }
            }
        }
    
        .product-type-two{
            .product-type-two-content{
                padding-inline-start: 3.87rem;
            }
        }
    
        .product-type-three{
            grid-template-columns: 1fr 1fr;
            gap: 0.68rem;
    
            .product-type-three-subgroup{
                padding-inline-start:2.5rem;
            }
        }
    }
    
    .about-section{
        padding-block:3rem;
        gap:3.93rem;
    
        .about-subgroup{
            padding-inline: 3.62rem;
        }
    }
}

@media screen and (min-width:1024px) {
    .hero-section{
        // background-color: variables.$black;
        // display:grid;
        // align-items: flex-end;
        // position: relative;
        // isolation: isolate;
    
        // &>*{
        //     grid-area: 1 / 1;
        // }
    
        .header-content{
            // text-align: center;
            padding-inline: 12.18rem;
            padding-block-start: 7.87rem;
            padding-block-end: 10.43rem;
            // position: relative;
            // border:1px solid red;
    
            // .header-subtitle{
            //     font-size: 0.87rem;
            //     letter-spacing: 10px;
            //     color: variables.$white;
            //     opacity:49.64%;
            //     font-weight: variables.$regular;
            // }
    
            .header-title{
                margin-block-start: 1.5rem;
            }
    
            // .header-text{
            //     color: variables.$white;
            //     margin-block-start: 1.5rem;
            //     opacity: 75%;
            //     border:1px solid red;
            // }
    
            .header-button{
                margin-block-start:2.5rem;
            }
        }
    
        // .header-picture{
        //     width:100%;
        //     height: auto;
        //     object-fit: cover;
        //     opacity: 50.21%;
        //     z-index: -1;
        //     position: absolute;
        //     inset-block: 0;
        //     margin-block:auto;
        // }
    
    }
    
    .categories-section{
        gap:1.87rem;
        padding-block-start:12.5rem;
        padding-block-end:5.25rem;
    }
    
    .products-section{
        padding-block:5.25rem;
        gap:3rem;
        
        .product-type-one{
            padding-block-start: unset;
            padding-block-end: unset;
            padding-inline:unset;
            grid-template-columns: 1fr 1fr;
            gap: unset;
            position: relative;

            .product-type-one-pattern{
                width: 83%;
                translate: -75% -33%;
            }
            
            .product-type-one-picture{
                margin-inline: unset;
                position: absolute;
                inset-inline-start: 12.5%;
                inset-block-start: 21.5%;
                height: 80.5%;
                width:auto;

            }

            .product-type-one-subgroup{

                text-align:unset;
                align-items: unset;
                align-self: center;
                padding-block-start: 8.31rem;
                padding-block-end: 7.75rem;
                padding-inline: 5.93rem;
            }
        }
    
        .product-type-two{
            .product-type-two-content{
                padding-inline-start: 5.93rem;
            }
        }
    
        .product-type-three{
            gap: 1.87rem;
    
            .product-type-three-subgroup{
                padding-inline-start:5.93rem;
            }
        }
    }
    
    .about-section{
        padding-block:7.25rem;
        grid-template-columns: 1fr 1fr;
        gap:7.81rem;
        align-items: center;
    
        .about-subgroup{
            padding-inline: unset;
            grid-row: unset;
            text-align: unset;
        }
    }
}