@use 'variables';

.hero-section{
    display:grid;
    position: relative;
    isolation: isolate;
    max-width: 1110px;
    margin-inline:auto;

    .header-content{
        text-align: center;
        padding-block-start: 6.75rem;
        padding-block-end: 7rem;
        width: 70%;
        margin-inline:auto;

        .header-subtitle{
            color: variables.$white;
            opacity:49.64%; 
        }

        .header-title{
            margin-block-start: 1rem;
        }

        .header-text{
            color: variables.$white;
            margin-block-start: 1.5rem;
            opacity: 75%;
        }

        .header-button{
            margin-block-start: 1.75rem;
        }
    }

    .header-picture{
        width:100%;
        height: auto;
        opacity: 50.21%;
        z-index: -1;
        position: absolute;
        inset-block-end: 0;
    }

}

.products-section{
    padding-block:3.75rem;
    display:grid;
    gap:1.5rem;
    
    .product-type-one{
        background-color: variables.$orange;
        border-radius:8px;
        padding-block: 3.43rem;
        padding-inline:7.8%;
        display:grid;
        gap: 2rem;
        position: relative;
        overflow: hidden;
        isolation: isolate;

        .product-type-one-pattern{
            position: absolute;
            width: 170%;
            height: auto;
            inset-inline-start: 50%;
            inset-block-start: 50%;
            translate: -50% -75%;
            z-index: -1;
        }

        .product-type-one-picture{
            display:block;
            margin-inline:auto;
        }

        .product-type-one-subgroup{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            text-align:center;
            align-items: center;

            .product-type-one-description{
                color: variables.$white;
                opacity: 75%;
            }

            .product-type-one-button{
                color: variables.$white;
                background-color: variables.$black;

                &:hover{
                    background-color: #4c4c4c;
                }
            }
        }
    }

    .product-type-two{
        display: grid;
        align-items: center;

        & > *{
            grid-column: 1 / -1;
            grid-row: 1;
        }

        .product-type-two-picture{
            border-radius: 8px;
            width:100%;
            height:100%;
            object-fit: cover;
        }

        .product-type-two-content{
            padding-inline-start: 1.5rem;
        }
    }

    .product-type-three{
        display: grid;
        grid-auto-rows: minmax(0, 1fr);
        gap:1.5rem;

        .product-type-three-picture{
            border-radius: 8px;
            width:100%;
            height:100%;
            object-fit: cover;
        }

        .product-type-three-subgroup{
            background-color: variables.$dark_grey;
            border-radius:8px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            padding-inline-start:1.5rem;
        }
    }
}

@media screen and (min-width:768px) {
    .hero-section{
        .header-content{     
            padding-block-start: 7.87rem;
            padding-block-end: 10.43rem;
    
            .header-title{
                margin-block-start: 1.5rem;
            }
    
            .header-text{
                width: 65%;
                margin-inline:auto;
            }
    
            .header-button{
                margin-block-start:2.5rem;
            }
        }
    
    }
    
    
    
    .products-section{
        padding-block:3rem;
        gap:2rem;
        
        .product-type-one{
            padding-block-start: 3.25rem;
            padding-block-end: 4rem;
            padding-inline:11.5rem;
            gap: 4rem;
            .product-type-one-pattern{
                width: 140%;
                translate: -50% -69%;
            }
            .product-type-one-picture{
                width:188px;
                height:auto;
            }
    
            .product-type-one-subgroup{
                .product-type-one-button{
                    margin-block-start:1rem;
                }
            }
        }
    
        .product-type-two{
            .product-type-two-content{
                padding-inline-start: 3.87rem;
            }
        }
    
        .product-type-three{
            grid-template-columns: 1fr 1fr;
            gap: 0.68rem;
    
            .product-type-three-subgroup{
                padding-inline-start:2.5rem;
            }
        }
    }
}

@media screen and (min-width:1024px) {
    // .home-header{
    //     overflow: hidden;
    // }
    
    .hero-section{
        width:88%;
        grid-template-columns: 1fr 1fr;
    
        .header-content{
            grid-column: 1 / 1;
            grid-row: 1;
            text-align: unset;
            padding-block-start: 8rem;
            padding-block-end: 9.87rem;
            width: 100%;
            margin-inline:unset;
    
            .header-text{
                margin-inline:unset;
            }
        }
    
        .header-picture{
            grid-column: span 2;
            grid-row: 1;
            width:130%;
            height: auto;
            object-fit: cover;
            opacity: 100%;
            inset-block-end: 0;
            inset-inline-start: -14%;

        }
    
    }
    
    
    
    .products-section{
        padding-block:5.25rem;
        gap:3rem;
        
        .product-type-one{
            padding-block-start: unset;
            padding-block-end: unset;
            padding-inline:unset;
            grid-template-columns: 1fr 1fr;
            gap: unset;
            position: relative;

            .product-type-one-pattern{
                width: 83%;
                translate: -75% -33%;
            }
            
            .product-type-one-picture{
                margin-inline: unset;
                position: absolute;
                inset-inline-start: 12.5%;
                inset-block-start: 21.5%;
                height: 80.5%;
                width:auto;

            }

            .product-type-one-subgroup{

                text-align:unset;
                align-items: unset;
                align-self: center;
                padding-block-start: 8.31rem;
                padding-block-end: 7.75rem;
                padding-inline: 5.93rem;
            }
        }
    
        .product-type-two{
            .product-type-two-content{
                padding-inline-start: 5.93rem;
            }
        }
    
        .product-type-three{
            gap: 1.87rem;
    
            .product-type-three-subgroup{
                padding-inline-start:5.93rem;
            }
        }
    }
}