@use 'variables';

.nav-container{
    background-color: variables.$medium_dark_grey;
    position: sticky;
    inset-block-start: 0;
    z-index: 9999;

    &::after{
        content: '';
        width: 100%;
        max-width: 1110px;
        height: 1px;
        position: absolute;
        inset-block-end: 0;
        inset-inline: 0;
        background-color: variables.$white;
        opacity: 10.4%;
    }
}

.nav-sub-container{
    padding-block: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: variables.$white;

    .burger-button, .cart-button{
        background-color:transparent;
        border: none;
    }

    .tabs{
        display:none;
    }

}

@media screen and (min-width:768px) {
    .nav-container{
        &::after{
            width: 88%;
            margin-inline:auto;
        }
    }
    .nav-sub-container{
        gap:2.62rem;

        .cart-button{
            margin-inline-start:auto;
        }
    
    }
}

@media screen and (min-width:1024px) {
    .nav-sub-container{
        gap:2.62rem;
    
        .burger-button{
            display:none;
        }

        .tabs{
            display:block;
        }

        .cart-button{
            margin-inline-start:0;
        }
    
    }
}