@use 'variables';

.overlay-navigation{
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background-color: variables.$black;
    opacity: 40%;
    z-index: 9999;
}

.navigation-modal{
    background-color: variables.$white;
    position:fixed;
    z-index: 9999;
    width:100%;
    padding-inline:1.5rem;
    padding-block-start:5.25rem;
    padding-block-end:2.18rem;
    display:flex;
    flex-direction: column;
    gap:4.25rem;
    animation: show 0.3s ease-in-out forwards;

}

@media screen and (min-width: 768px) {
    .navigation-modal{
        padding-inline:2.5rem;
        padding-block-start:6.75rem;
        padding-block-end:4.18rem;
        flex-direction: row;
        gap:0.62rem;
    }
}