@use 'variables';

.back-button{
    text-decoration: none;
    color:inherit;
    opacity: 50%;
    display:block;
    margin-block-start:1rem;
    margin-block-end:1.5rem;
}

.product-info{
    display: grid;
    gap:2rem;
    padding-block-end:2.75rem;

}
.product-info-picture{
    border-radius:8px;
    width: 100%;
    height: auto;
}

.product-info-subgroup{
    display:grid;
    gap:1.5rem;

}
.product-info-subtitle{
    color: variables.$orange;
}

.product-info-title{
    letter-spacing: 1px;
    color: variables.$black;
}

.product-info-text{
    opacity:50%;
}

.product-info-price{
    font-weight: variables.$bold;
    font-size: 1.125rem;
    letter-spacing: 1.29px;
    color: variables.$black;
    margin-block-end:0.5rem;
}

.product-info-subgroup-level2{
    display: flex;
    gap:1rem;
}
.quantity-container{
    width: 7.5rem;
}

.product-features-section{
    padding-block:2.75rem;
    display: grid;
    gap: 5.5rem;
}

.product-features, .product-in-box{
    display:grid;
    gap:1.5rem;
}

.product-in-box-list{
    list-style-type: none;
    display: grid;
    gap:0.5rem;
}

.product-in-box-item{
    display: flex;
    gap:1.5rem;
    align-items: center;
}

.product-in-box-quantity{
    font-size: 0.93rem;
    line-height: 25px;
    font-weight: variables.$bold;
    color: variables.$orange;
}

.gallery-section{
    padding-block-start: 2.75rem;
    padding-block-end: 3.75rem;
    display:grid;
    gap: 1.25rem;
}

.gallery{
    border-radius:8px;
    width: 100%;
    height: auto;
}

.suggestion-section{
    padding-block-start: 3.75rem;
    padding-block-end: 5.37rem;
    text-align:center;
}

.suggested-products-wrapper{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    margin-block-start:2.5rem;
}

@media screen and (min-width:768px){
    .back-button{
        // text-decoration: none;
        // color:inherit;
        // opacity: 50%;
        // display:block;
        margin-block-start:2.06rem;
        // margin-block-end:1.5rem;
    }
    
    .product-info{
        // display: grid;
        grid-template-columns: 1fr 1fr;
        gap:4.31rem;
        padding-block-end:3.75rem;
        align-items: center;
    }

    // .product-info-picture{
    //     border-radius:8px;
    //     width: 100%;
    //     height: auto;
    // }
    
    .product-info-subgroup{
        // display:grid;
        gap:1rem;
    }
    // .product-info-subtitle{
    //     color: variables.$orange;
    // }
    
    .product-info-title{
        // letter-spacing: 1px;
        // color: variables.$black;
        margin-block-end: 1rem;
    }
    
    // .product-info-text{
    //     // opacity:50%;
    //     margin-block-start: 1rem;
    // }
    
    .product-info-price{
        // font-weight: variables.$bold;
        // font-size: 1.125rem;
        // letter-spacing: 1.29px;
        // color: variables.$black;
        margin-block-end:unset;
        margin-block-start: 1rem;
    }
    
    .product-info-subgroup-level2{
        margin-block-start: 1rem;
        // display: flex;
        // gap:1rem;
    }
    // .quantity-container{
    //     width: 7.5rem;
    // }
    
    .product-features-section{
        padding-block:3.75rem;
        // display: grid;
        gap: 7.5rem;
    }
    
    .product-features{
        // display:grid;
        gap:2rem;
    }
    .product-in-box{
        // display:grid;
        grid-template-columns: 1fr 1fr;
        gap:0.68rem;
    }
    
    // .product-in-box-list{
    //     list-style-type: none;
    //     display: grid;
    //     gap:0.5rem;
    // }
    
    // .product-in-box-item{
    //     // display: flex;
    //     // gap:1.5rem;
    //     align-items: center;
    // }
    
    // .product-in-box-quantity{
    //     font-size: 0.93rem;
    //     line-height: 25px;
    //     font-weight: variables.$bold;
    //     color: variables.$orange;
    // }
    
    .gallery-section{
        padding-block: 3.75rem;
        // padding-block-end: 3.75rem;
        // display:grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1.25rem 1.125rem;
    }
    
    .gallery{
        border-radius:8px;
        width: 100%;
        height: 100%;
    }

    .gallery-1{
        grid-row: 1;
        grid-column: span 2;
    }
    .gallery-2{
        grid-row: 2;
        grid-column: span 2;
    }
    .gallery-3{
        grid-row: span 2;
        grid-column: span 3;
    }
    
    // .suggestion-section{
    //     // padding-block-start: 3.75rem;
    //     padding-block-end: 5.37rem;
    //     text-align:center;
    // }
    
    .suggested-products-wrapper{
        // display: flex;
        flex-direction: row;
        gap: 0.68rem;
        margin-block-start:3.5rem;
    }
}

@media screen and (min-width:1024px){
    .back-button{
        // text-decoration: none;
        // color:inherit;
        // opacity: 50%;
        // display:block;
        margin-block-start:4.93rem;
        margin-block-end:3.5rem;
    }
    
    .product-info{
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        gap:7.81rem;
        padding-block-end:5rem;
        // align-items: center;
    }

    // .product-info-picture{
    //     border-radius:8px;
    //     width: 100%;
    //     height: auto;
    // }
    
    // .product-info-subgroup{
    //     // display:grid;
    //     // gap:1rem;
    // }
    // .product-info-subtitle{
    //     color: variables.$orange;
    // }
    
    .product-info-title{
        // letter-spacing: 1px;
        // color: variables.$black;
        margin-block-end: 1rem;
    }
    
    // .product-info-text{
    //     // opacity:50%;
    //     margin-block-start: 1rem;
    // }
    
    // .product-info-price{
    //     // font-weight: variables.$bold;
    //     // font-size: 1.125rem;
    //     // letter-spacing: 1.29px;
    //     // color: variables.$black;
    //     // margin-block-end:unset;
    //     // margin-block-start: 1rem;
    // }
    
    .product-info-subgroup-level2{
        margin-block-start: 1.93rem;
        // display: flex;
        // gap:1rem;
    }
    // .quantity-container{
    //     width: 7.5rem;
    // }
    
    .product-features-section{
        padding-block:5rem;
        // display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 7.81rem;
        align-items: start;
    }
    
    .product-features{
        // display:grid;
        // gap:2rem;
        grid-column: span 2;
    }
    .product-in-box{
        // display:grid;
        grid-template-columns: unset;
        gap:2rem;
        // grid-column: span 6;
    }
    
    // .product-in-box-list{
    //     list-style-type: none;
    //     display: grid;
    //     gap:0.5rem;
    // }
    
    // .product-in-box-item{
    //     // display: flex;
    //     // gap:1.5rem;
    //     align-items: center;
    // }
    
    // .product-in-box-quantity{
    //     font-size: 0.93rem;
    //     line-height: 25px;
    //     font-weight: variables.$bold;
    //     color: variables.$orange;
    // }
    
    .gallery-section{
        padding-block: 5rem;
        // padding-block-end: 3.75rem;
        // display:grid;
        // grid-template-columns: repeat(5, 1fr);
        gap: 2rem 1.875rem;
    }
    
    // .gallery{
    //     border-radius:8px;
    //     width: 100%;
    //     height: 100%;
    // }

    // .gallery-1{
    //     grid-row: 1;
    //     grid-column: span 2;
    // }
    // .gallery-2{
    //     grid-row: 2;
    //     grid-column: span 2;
    // }
    // .gallery-3{
    //     grid-row: span 2;
    //     grid-column: span 3;
    // }
    
    .suggestion-section{
        padding-block-start: 5rem;
        padding-block-end: 7.5rem;
        // text-align:center;
    }
    
    .suggested-products-wrapper{
        // display: flex;
        // flex-direction: row;
        gap: 1.875rem;
        margin-block-start:4rem;
    }
}