@use 'variables';

.product-container{
    display:grid;
    gap:2rem;

    .product-picture{
        width: 100%;
        height: auto;
        border-radius:8px;
    }

    .product-content{
        display:grid;
        gap:1.5rem;
        text-align:center;

        .product-subtitle{
            color: variables.$orange;
        }

        .product-title{
            letter-spacing: 1px;
            color: variables.$black;
        }

        .product-text{
            opacity:50%;
        }

        .product-button{
            justify-self: center;
        }
    }
}