@use 'variables';

.quantity-wrapper{
    background-color: variables.$dark_grey;
    position: relative;
    margin-inline-start:auto;
    width:100%;
    height:100%;
    display: flex;

    &>*{
        flex:1;
    }

    .quantity-button{
        font-size:0.81rem;
        letter-spacing: 1px;
        font-weight: variables.$bold;
        opacity: 25%;
        padding-inline: 0.75rem;
        border:none;
        background-color:transparent;

        &:hover, &:active{
            color: variables.$orange;
            opacity:100%;
        }

    }

    .selected-item-quantity{
        -webkit-appearance: none;
        -moz-appearance: textfield;
        appearance: none;
        text-align:center;
        border:none;
        width:100%;
        background-color: transparent;
        font-size:0.81rem;
        font-weight: variables.$bold;
        letter-spacing: 1px;
        height: 100%;
        
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
        } 
    }
}