@use 'variables';

.suggested-product{
    display: grid;
    gap:2rem;
}

.suggested-product-picture{
    border-radius:8px;
    width: 100%;
    height: auto;
}

.suggested-product-title{
    line-height:unset;
    letter-spacing: 1.71px;
}

@media screen and (min-width:768px) {
    // .suggested-product{
    //     // display: grid;
    //     gap:2rem;
    // }
    
    // .suggested-product-picture{
    //     border-radius:8px;
    //     width: 100%;
    //     height: auto;
    // }
    
    .suggested-product-title{
        margin-block-start: 0.5rem;
        font-size: 1.5rem;
        // line-height:unset;
        // letter-spacing: 1.71px;
    }
}